<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Appointment</title>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body class="p-8 bg-sky-100 flex items-center justify-center min-h-screen">
		<div class="w-full max-w-lg text-center my-16">
			<form
				id="appointmentForm"
				class="min-w-lg mx-auto bg-white p-6 rounded shadow space-y-4"
			>
				<h2 class="text-xl font-bold">Make an Appointment</h2>

				<div class="mb-4 text-left">
					<label class="block text-gray-600">Full name</label>
					<input
						id="text"
						type="name"
						placeholder="John Doe"
						class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-orange-500"
					/>
				</div>

				<div class="mb-4 text-left">
					<label class="block text-gray-600">Email</label>
					<input
						id="email"
						type="email"
						placeholder="xxxx@mail.com"
						class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-orange-500"
					/>
				</div>

				<div class="mb-4 text-left">
					<label class="block text-gray-600">Date </label>
					<input
						id="date"
						type="date"
						class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-orange-500"
					/>
				</div>

				<div class="mb-4 text-left">
					<label class="block text-gray-600">Time</label>
					<input
						type="time"
						id="time"
						class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-orange-500"
						required
					/>
				</div>

				<button
					class="bg-orange-500 text-white px-4 py-2 rounded w-full"
					type="submit"
				>
					Book Now
				</button>
			</form>
		</div>

		<script type="module" src="js/appointment.js"></script>
	</body>
</html>
